body{
    display: grid;
    grid-template-columns:20vw 60px 40px auto 100px 20vw;
    grid-template-rows: 100px 60vh 100px;
    grid-template-areas:
        ". logo header header header ."
        ". leftSidebar leftSidebar contentArea rightSidebar ."
        ". footer footer footer footer .";
}



.logo{
    grid-area: logo;
    /*grid-column-start:2;
    grid-column-end:3; 
    grid-row-start: 1;
    grid-row-end: 2;*/
}

header{
    grid-area: header;
    /*grid-column-start: 3;
    grid-column-end:6; 
    grid-row-start: 1;
    grid-row-end: 2;*/
    background-color: lightblue;
    
}


.sidebarLeft{
    grid-area: leftSidebar;
    /*grid-column-start: 2;
    grid-column-end:4; 
    grid-row-start: 2;
    grid-row-end: 3;*/
    background-color: lightcoral
}

.sidebarRight{
    grid-area: rightSidebar;
    /*grid-column-start: 5;
    grid-column-end:6; 
    grid-row-start:2;
    grid-row-end: 3;*/
    background-color: lightseagreen
}

.content{
    grid-area: contentArea;
    /*grid-column-start: 4;
    grid-column-end:5; 
    grid-row-start:2;
    grid-row-end: 3;*/
    background-color: lightgrey
}

footer{
    grid-area: footer;
    /*grid-column-start: 2;
    grid-column-end:6; 
    grid-row-start: 3;
    grid-row-end: 4;*/
    background-color: lightsalmon
}